<html>
<title>Fyle:Task</title>
<meta charset="utf-8"/>
<head>
  <!-- Angular CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

  <!-- JQuery CDN -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

   <!-- Materail CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Material JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link rel="stylesheet" href="css/index.css">
          
</head>
<body ng-app="myApp">
  <div class="container">

    <div class="row"  ng-controller="FilterController as filterCtrl" style="height: 100%;">
      <div class="col s12">
        <div class="card" style="height: 90%;">
          <div class="card-title">
            Bank Branches
          </div>

          <div class="row input-action">
            <div class='col s3'>
              <div class="input-field col s12">
              <select id="select1">
                <option value="BANGALORE" selected>Bangalore</option>
                <option value="MUMBAI">Mumbai</option>
                <option value="CHENNAI">Chennai</option>
                <option value="DELHI">Delhi</option>
                <option value="PUNE">Pune</option>
              </select>
              <label>Select Branch</label>
              </div>
            </div>

            <div class="input-field col s3">
              <input id="icon_prefix" type="text" class="validate" ng-model="search.branch">
              <label for="icon_prefix">Search</label>
            </div>

            <div class='col s2'>
              <div class="input-field col s12">
              <select id="entries">
                <option value=10 selected>10</option>
                <option value=30>30</option>
                <option value=50 >50</option>
                <option value=100>100</option>
              </select>
              <label>Show Entries</label>
              </div>
            </div>


            <div class="col s4 btn-container">
              <!-- <a class="btn blue"><i class="material-icons">navigate_before</i>&nbsp;Prev</a>
              <a class="btn blue">Next&nbsp;<i class="material-icons">navigate_next</i></a> -->
              <a class="waves-effect waves-light btn blue" data-offset="0" data-nav-type="prev" ng-click="navigate($event)" id="prev" disabled><i class="material-icons left">navigate_before</i>Prev</a>
              <a class="waves-effect waves-light btn blue" data-offset="50" data-nav-type="next" ng-click="navigate($event)" id="next"><i class="material-icons right">navigate_next</i>Next</a>
            </div>

            

          </div>

          <div class="row" style="height: calc(100% - 145px);overflow-y: auto;overflow-x: hidden;">

            <div class="col s12">

              <div class="spinner" id="loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>

              <table class="bordered highlight hidden" id="content">
                <thead>
                  <tr>
                      
                      <th>Bank Name</th>
                      <th>Branch</th>
                      <th>Ifsc</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>State</th>
                  </tr>
                </thead>

                <tbody>
                 
                  <tr ng-repeat="item in branches | filter:search">
                    
                    <td>{{item.bank_name}}</td>
                    <td>{{item.branch}}</td>
                    <td>{{item.ifsc}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.state}}</td>
                  </tr>

            



                 
                </tbody>
              </table>

            </div>
          </div>
          
        </div>
      </div>

    </div>

  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
    
  </script>
  <script src="js/app.js"></script>
</body>
</html>